.divider {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    --divider-h: 4px;
    --divider-w: 100px;
    --divider-x-position: 200%;
    --divider-x-position: -120px;
    --divider-top-position: 50%;
    --divider-position: absolute;
    --divider-bg-color: var(--white-color);
}

.divider::before {
    content: "";
    position: var(--divider-position);
    top: var(--divider-top-position);
    transform: translateY(-50%);
    left: var(--divider-x-position);
    width: var(--divider-w);
    height: var(--divider-h);
    background-color: var(--divider-bg-color);
}

.divider::after {
    content: "";
    position: var(--divider-position);
    top: var(--divider-top-position);
    transform: translateY(-50%);
    right: var(--divider-x-position);
    width: var(--divider-w);
    height: var(--divider-h);
    background-color: var(--divider-bg-color);
}