.my-navbar {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.active-bgColor {
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.my-list .nav-link {
    border-radius: 8px !important;
}